<div class="row container">
	<div class="col s12 m3 center">
	</div>
	<div class="col s12 m6 center">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
    		<h5 class="header">{{apiValues}}</h5>
		    <form class="col s12">
		    <div class="row">
		        <div class="input-field col s12">
		        <i class="material-icons prefix">account_circle</i>
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		        <i class="material-icons prefix">vpn_key</i>
		          <input id="password" type="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		      </div>
		      <div class="row">
				<button class="waves-effect waves-light btn col s12 m12">Login</button>
		      </div>
		      <div class="row">
		      	<div class="divider"></div>
		      </div>
		      <div class="row">
				<button class="waves-effect waves-light btn col s12 m6">Register</button>
				<a class="col s12 m6" href="">Forgot password?</a>
		      </div>
		    </form>
		  </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3 center">
	</div>

  <!-- <div class="col s12 m8 center">
    <h4 class="header">Registration</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
		    <form class="col s12">
		      <div class="row">
		        <div class="input-field col s6">
		          <input id="first_name" type="text" class="validate">
		          <label for="first_name">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="last_name" type="text" class="validate">
		          <label for="last_name">Last Name</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="dfsdf" type="password" class="validate">
		          <label for="dfsdf">Password</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="sdgsgs" type="email" class="validate">
		          <label for="sdgsgs">Email</label>
		        </div>
		      </div>
		      <div class="row">
				<button class="waves-effect waves-light btn">Register</button>
		      </div>
		    </form>
		  </div>
        </div>
      </div>
    </div>
  </div> -->
</div>