<loading-root *ngIf="isLoading"></loading-root>
<div class="row" [ngClass]="{'onloading':isLoading}">
    <div class="card white">
		<div class="card-content">
	  		<span class="card-title"><h3>Data Diri</h3></span>
			<hr class="hr-form"><br>
			<div class="progress">
				<div class="determinate" id="formProgress" style="width: 0%"></div>
				<div class="progress-text">
					<h4 class="center-align">{{formSectionName}}</h4>
				</div>
			</div>
			<div class="row">
				<form class="col s12" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
					<div *ngFor="let mainProp of dataForm;let main_index = index" id="section_{{main_index+1}}" [hidden]="main_index != 0">
						<br>

				      	<!-- <h5><i class="material-icons">arrow_forward</i> {{mainProp.section_name}}</h5> -->
						<!-- <hr class="hr-form"> -->
						<div class="row" *ngFor="let prop of mainProp.data">
							<div *ngFor="let propChild of prop.values" class="col s{{12/prop.values.length}} m{{12/prop.values.length}}">
								
								<ul *ngIf="propChild.type=='collection' && nextEducation.length > 0" id="{{propChild.name}}" class="collapsible" data-collapsible="accordion">
									<li *ngFor="let ned of nextEducation;let ine=index">
										<div class="collapsible-header">
										<h6 class="col s11">Rencana Pendidikan {{ine+1}}</h6>
										<a (click)="removeNextEdu(ine)" style="text-align: right;" class="col s1 red-text"><i class="material-icons">close</i></a>
										</div>
										<div class="collapsible-body">
											<p>Pendidikan : {{ned.next_education}}</p>
											<p>Fakultas : {{ned.next_faculty}}</p>
											<!-- <p>Prodi : {{ned.next_prody}}</p> -->
											<p>Perguruan Tinggi : {{ned.next_school}}</p>
										</div>
									</li>
								</ul>

								<div *ngIf="propChild.child == undefined">
									<label *ngIf="propChild.type !='checkbox'" for="{{propChild.name}}" [ngClass]="{'red-text text-darken-2':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}">{{propChild.label}}</label>
								</div>
								<div *ngIf="propChild.child != undefined">
									<div *ngIf="form.controls['child_'+propChild.name].value">
										<label for="{{propChild.name}}" [ngClass]="{'red-text text-darken-2':form.controls['input_'+propChild.name].invalid && (form.controls['input_'+propChild.name].dirty || submitted)}">{{propChild.label}}</label>
									</div>
									<div *ngIf="!form.controls['child_'+propChild.name].value">
										<label *ngIf="propChild.type !='checkbox'" for="{{propChild.name}}" [ngClass]="{'red-text text-darken-2':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}">{{propChild.label}}</label>
									</div>
								</div>
					          
							  <input *ngIf="propChild.type != 'select' && propChild.type != 'textarea' && propChild.type != 'date' && propChild.type != 'checkbox'
							  	&& propChild.type!='collection'" 
					          	placeholder="{{propChild.placeholder}}" 
					          	id="{{propChild.name}}" 
					          	type="{{propChild.type}}" 
					          	[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}"
								class="{{propChild.class}}"
								autocomplete="{{propChild.name}}"  
								formControlName="{{propChild.name}}">

								<input *ngIf="propChild.name == 'is_same_address'" type="checkbox" id="{{propChild.name}}" class="filled-in" formControlName="{{propChild.name}}" (change)="toggleAgeDisable($event.target.checked)"/>
								<label *ngIf="propChild.name == 'is_same_address'" for="{{propChild.name}}">{{propChild.label}}</label>  

								<my-date-picker [ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}" 
								*ngIf="propChild.type == 'date'" 
								[options]="myDatePickerOptions" 
								id="{{propChild.name}}"
								formControlName="{{propChild.name}}"
								[placeholder]="propChild.placeholder"></my-date-picker>
					          	
					          	<div *ngIf="propChild.type == 'select'">
									<ng-select *ngIf="propChild.child == undefined && propChild.options.length > 0" 
									  [items]="propChild.options" 
					          			id="{{propChild.name}}"
				          				(change)="onChange(propChild.onchange, $event)"
										bindLabel="name"
										bindValue="name"
										dropdownPosition="auto"
										formControlName="{{propChild.name}}"
										placeholder="{{propChild.placeholder}}"
										[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}"
										class="custom">
							        </ng-select>
							        <ng-select [items]="propChild.options" *ngIf="propChild.child != undefined && propChild.options.length > 0" 
							        	id="{{propChild.name}}"
										(change)="onChange(propChild.onchange, $event)"
										bindLabel="name"
										bindValue="name"
										dropdownPosition="auto"
										formControlName="{{propChild.name}}"
										placeholder="{{propChild.placeholder}}"
									  	[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted) && !form.controls['child_'+propChild.name].value}"
										class="custom">
									</ng-select>
									<ng-select [items]="OldDistrict" *ngIf="propChild.name == 'old_district'" 
										id="{{propChild.name}}"
										bindLabel="name"
										bindValue="name"
										dropdownPosition="auto"
										formControlName="{{propChild.name}}"
										placeholder="{{propChild.placeholder}}"
										[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}"
										class="custom">
									</ng-select>
									<ng-select [items]="NewDistrict" *ngIf="propChild.name == 'new_district'" 
										id="{{propChild.name}}"
										bindLabel="name"
										bindValue="name"
										dropdownPosition="auto"
										formControlName="{{propChild.name}}"
										placeholder="{{propChild.placeholder}}"
										[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}"
										class="custom">
									</ng-select>
									<!-- <ng-select [items]="Prodi" *ngIf="propChild.name == 'next_prody'" 
										id="{{propChild.name}}"
										bindLabel="name"
										bindValue="id"
										dropdownPosition="auto"
										formControlName="{{propChild.name}}"
										placeholder="{{propChild.placeholder}}"
									  	[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted) && !form.controls['child_'+propChild.name].value}"
										class="custom">
									</ng-select> -->
									
							        <!-- <select formControlName="{{propChild.name}}" *ngIf="propChild.child == undefined"
									  	id="{{propChild.name}}" (ngModelChange)="onChange(propChild.onchange, $event)"
									  	[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}"
									  	class="browser-default">
								  		<input type="text" name="test">
									    <option value="" disabled selected>{{propChild.placeholder}}</option>
									    <option *ngFor="let opt of propChild.options" [value]="opt.label">{{opt.label}}</option>
									</select> -->
									<!-- <select formControlName="{{propChild.name}}" *ngIf="propChild.child != undefined"
									  	id="{{propChild.name}}" 
									  	[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted) && !form.controls['child_'+propChild.name].value}"
									  	class="browser-default">
									    <option value="" disabled selected>{{propChild.placeholder}}</option>
									    <option *ngFor="let opt of propChild.options" [value]="opt.value">{{opt.label}}</option>
									</select> -->
									<div *ngIf="propChild.child != undefined" style="margin-top: 10px;">
										<input type="checkbox" class="filled-in" id="child_{{propChild.name}}" formControlName="child_{{propChild.name}}" (change)="CheckValue(propChild, $event.target.checked)"/>
	      								<label for="child_{{propChild.name}}">{{propChild.child.label}}</label>
	      								<input [ngClass]="{'invalid':form.controls['input_'+propChild.name].invalid && form.controls['child_'+propChild.name].value && (form.controls['input_'+propChild.name].dirty || submitted)}" type="text" formControlName="input_{{propChild.name}}" placeholder="{{propChild.child.placeholder}}" id="input_{{propChild.name}}"
	      								style="display:none">	
									</div>
								</div>

								<textarea [placeholder]="propChild.placeholder" 
								autocomplete="street-address"
								*ngIf="propChild.type == 'textarea'" 
								[id]="propChild.name" [formControlName]="propChild.name" 
								class="{{propChild.class}}"
								[ngClass]="{'invalid':form.controls[propChild.name].invalid && (form.controls[propChild.name].dirty || submitted)}"></textarea>

								<div *ngIf="(form.controls[propChild.name].dirty || submitted) && propChild.child == undefined">
									<label class="red-text text-darken-2" *ngIf="form.controls[propChild.name].hasError('required')">
									    {{propChild.label}} harus diisi.
								  	</label>
								  	<label class="red-text text-darken-2" *ngIf="form.controls[propChild.name].hasError('pattern')">
									    Format {{propChild.label}} salah.
								  	</label>
								  	<label class="red-text text-darken-2" *ngIf="form.controls[propChild.name].hasError('minLength')">
									    {{propChild.label}} minimal {{form.controls[propChild.name].minLength}}.
								  	</label>
								  	<label class="red-text text-darken-2" *ngIf="form.controls[propChild.name].hasError('maxLength')">
									    {{propChild.label}} maksimal {{form.controls[propChild.name].maxLength}}.
								  	</label>
								</div>

								<div *ngIf="propChild.child != undefined">
									<div *ngIf="form.controls['child_'+propChild.name].value">
										<div *ngIf="form.controls['input_'+propChild.name].dirty || submitted">
												<label class="red-text text-darken-2" *ngIf="form.controls['input_'+propChild.name].hasError('required')">
											    {{propChild.label}} harus diisi.
											  	</label>
											  	<label class="red-text text-darken-2" *ngIf="form.controls['input_'+propChild.name].hasError('pattern')">
												    Format {{'input_'+propChild.label}} salah.
											  	</label>
										</div>
									</div>
									<div *ngIf="!form.controls['child_'+propChild.name].value">
										<div *ngIf="form.controls[propChild.name].dirty || submitted">
											<label class="red-text text-darken-2" *ngIf="form.controls[propChild.name].hasError('required')">
										    {{propChild.label}} harus diisi.
										  	</label>
										  	<label class="red-text text-darken-2" *ngIf="form.controls[propChild.name].hasError('pattern')">
											    Format {{propChild.label}} salah.
										  	</label>
										  	<label class="red-text text-darken-2" *ngIf="form.controls[propChild.name].hasError('minLength')">
											    {{propChild.label}} minimal {{form.controls[propChild.name].minLength}}.
										  	</label>
										  	<label class="red-text text-darken-2" *ngIf="form.controls[propChild.name].hasError('maxLength')">
											    {{propChild.label}} maksimal {{form.controls[propChild.name].maxLength}}.
										  	</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a *ngIf="mainProp.section_name=='Rencana Pendidikan'" 
						class="btn-floating btn-large waves-effect waves-light tooltipped" 
						data-position="right" data-delay="50" 
						data-tooltip="Tambah rencana pendidikan"
						(click)="addNextEducation(mainProp.data[2].values[0].options)"><i class="material-icons">add</i></a>
					</div>
		        	<button type="submit" style="display: none" id="demo_btn"></button>
			    </form>
			</div>
		</div>
		<div class="card-action">
		  <a *ngIf="sectionCount > 1" class="waves-effect waves-light btn" (click)="Back()"><i class="material-icons left">arrow_back</i>Sebelumnya</a>
		  <a *ngIf="sectionCount != 6" class="waves-effect waves-light btn" (click)="Next()"><i class="material-icons right">arrow_forward</i>Selanjutnya</a>
		  <a *ngIf="sectionCount == 6" class="waves-effect waves-light btn" (click)="Next()"><i class="material-icons right">send</i>Selesai</a>
		</div>
	</div>
</div>