<div class="row container">
	<h1 class="countdown col s12 m4"></h1>
	<h1 class="red-text text-darken-2 col s12 m8" id="timeout_message" style="display: none">TIME OUT</h1>
	<div class="col s12 m12" id="progress">
		<!-- <div class="card-panel">
			
		</div> -->
		<div class="progress">
		      <div class="determinate" style="width: 0%">
		      </div>
		  		<div class="col s12 m4"></div>
		      	<div class="col s12 m4">
		      		<h5 class="center-align" id="progress_count" style="position: relative;">{{current_qs}}/{{total_qs}}</h5>
		      	</div>
		      	<div class="col s12 m4"></div>
		  	</div>
	</div>
	<div *ngFor="let qs of questions; let i = index" style="">
		<div id="qs_{{i}}" style="display: none;">
		  	<div class="col s12 m12">
		      	<p class="flow-text"><i class="tiny material-icons blue-text text-darken-2">arrow_forward</i> {{qs.question}}</p>
		  	</div>

		  	<div class="col s12 m4">
			  	<div class="collection">
			        <!-- <a *ngFor="let qs_child of qs.options; let j = index" href="javascript:void(0)" (click)="progressEvent('qs_'+(i+1), 'qs_'+i, i+1, questions.length)" class="collection-item">
			        	<span class="new badge red darken-2" data-badge-caption="">{{j+1}}</span> <span>{{qs_child}}</span>
			        </a> -->
			        <a *ngFor="let qs_child of customOption; let j = index" href="javascript:void(0)" (click)="progressEvent('qs_'+(i+1), 'qs_'+i, i+1, questions.length)" class="collection-item">
			        	<span class="new badge {{qs_child.class}}" data-badge-caption="">{{j+1}}</span> <span>{{qs_child.text}}</span>
			        </a>
			  	</div>
			</div>
		</div>
		<div class="thankyou" id="qs_{{i+1}}" style="display:none;" *ngIf="i+1 == questions.length">
	  	<h1>THANK YOU</h1>
		</div>
	</div>
</div>