<div class="navbar-fixed">
  <nav>
  <a routerLink="/" class="brand-logo">Logo</a>
<div class="nav-wrapper container">
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<div class="row">
  <ul class="right hide-on-med-and-down">
    <li><a routerLink="login" class="waves-effect green accent-4 btn">Login</a></li>
    <li><a routerLink="/" class="waves-effect light-blue darken-4 btn">Take The Assessment</a></li>
  </ul>
  <ul class="left hide-on-med-and-down">
    <li *ngFor="let joke of parent">
      <div *ngIf="joke.child != null; then dropmenu else singlemenu"></div>
      <ng-template #singlemenu><a routerLink="{{joke.url}}">{{joke.text_menu}}</a></ng-template>
      <ng-template #dropmenu>
      <div id="dropdown-{{joke.menu_id}}"></div>
        <ul id="{{joke.menu_id}}" class="dropdown-content">
          <li *ngFor="let child of joke.child"><a routerLink="child.url">{{child.text_menu}}</a></li>
        </ul>
      </ng-template>
    </li>
  </ul>
</div>
</div>

<!-- <li><a href="#"><i class="material-icons">power_settings_new</i>logout</a></li> -->
</nav>
</div>

<ul id="slide-out" class="side-nav">
  <!-- <li>
      <div class="user-view">
        <div class="background">
          <img src="http://p.motionelements.com/stock-video/video-backgrounds/me2195971-multicolor-circle-bokeh-lights-seamless-loop-backg-hd-a0060.jpg">
        </div>
      <a href="#"><img class="circle" src="https://www.spotteron.net/images/icons/user60.png"></a>
      <a href="#"><span class="white-text name">John Doe</span></a>
      <a href="#"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
  </li> -->
  <li class="row">
  <div class="col s12 m12">
    <a routerLink="login" class="waves-effect green accent-4 btn">Login</a>
    <a routerLink="/" class="waves-effect light-blue darken-4 btn">Take The Assessment</a>
  </div>
  </li>
  <li><div class="divider"></div></li>
  <li><a class="dropdown-button" href="#" data-activates="drop-mobile">Solutions<i class="material-icons right">arrow_drop_down</i></a></li>
  <li *ngFor="let joke of parent">
      <div *ngIf="joke.child != null; then dropmenu else singlemenu"></div>
      <ng-template #singlemenu><a routerLink="{{joke.url}}">{{joke.text_menu}}</a></ng-template>
      <ng-template #dropmenu>
      <!-- <div id="dropdown-mobile-{{joke.menu_id}}"></div> -->
      <a class="dropdown-button" href="#" data-activates="test">Solutions<i class="material-icons right">arrow_drop_down</i></a>
       <!--  <ul id="{{joke.menu_id}}" class="dropdown-content">
          <li *ngFor="let child of joke.child"><a routerLink="child.url">{{child.text_menu}}</a></li>
        </ul> -->
      </ng-template>
    </li>
  <!-- <li><a class="dropdown-button" href="#" data-activates="drop-mobile">Solutions<i class="material-icons right">arrow_drop_down</i></a></li>
  <li><a routerLink="/profile">Science</a></li>
  <li><a routerLink="/profile">Assessments</a></li>
  <li><a routerLink="/profile">Customers</a></li>
  <li><a routerLink="/profile">Blog</a></li> -->
  
</ul>
